/* sign up form  */

.formContainer {
  padding-top: 20px;
}

.Signupform {
  display: grid;
  gap: 14px;
}

.Signupform input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}
.inputOption {
  display: flex;
  flex-direction: column;
}
.inputOption label {
  font-size: 14px;
  margin-bottom: 5px;
}
.inputOption input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.Signupform h6 {
  font-size: 14px;
}

.Signupform button,
.SignInbutton {
  padding: 5px;
  border: 1px solid #ccc;
  width: 100%;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-align: center;
}
.SignInbutton {
  margin-top: 20px;
}
.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  left: 50%;
  cursor: pointer;
  font-size: 0.4rempx;
  border-bottom: #ccc solid 1px;
}
