@tailwind base;
@tailwind components;
@tailwind utilities;

/* If using plain CSS */
@font-face {
  font-family: "Aleo";
  src: url("../public/Aleo-Regular.ttf");
  /* Add other font weights and styles here if needed */
}

:root {
  --primary-color: #0b3c41;
  --secondary-color: #f6f7ef;
  --third-color: #bee0df;
  --staic: #ffffff;
  --background: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  font-family: "Aleo";
}
body {
  padding: 1rem;
  margin: auto;
}
h1 {
  font-size: 2.8rem;
}
p {
  text-wrap: balance;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
